* {
    padding: 0;
    font-size:120%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:#821028;
    color: white;
}

button {
    border-radius: 4px;
    width: 100px;
    margin: 5px;   
}

.convert-button {
    margin: 0 auto;
    background-color: #53613f;
    color: white;
    width: auto;
    min-width: 15vmax;
    font-weight: 600;
}


.main-section {
    display: grid;
    row-gap: 15px;
    padding-top: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

.textarea {
    font-size: 100%;
    width:60vw;
    background-color:white;
}

.rtl {
    direction: rtl; 
    text-align: right;
    unicode-bidi: bidi-override;
}

.ltr {
    direction: ltr; 
    text-align: left;
    unicode-bidi: bidi-override;
}

#wordsBox {
    background-color: #941931;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.extracted-words-container {
    width: 60vw;
    margin: 0 auto;
    margin-top: 8vh;
}

#word-btn {
    padding: 3px;
    width: max-content;
    margin: 0;
    margin-right: 5px;
    color: #fff !important;
}

.word-btn-selected {
    background-color: #53613f !important;
    border-radius: 4px;
}

#word-btn:focus {
    outline: none;
    box-shadow: none;
}

#word-btn:hover {
    background-color: #6e7e57;
}

h3{
    margin: auto;
    display: flex;
    align-content: center;
    font-weight: 800;
}

@media screen and (max-width: 500px) {
    .textarea {
        width: auto;
    }

    button {
        margin: 0 auto;
    }

    h5 {
        font-size: 16px;
    }

    .extracted-words-container {
        width: 90%;
    }
}

#ctrl-btns{
    width: 100%;
    text-align: center;
}

.ctrl-btn{
    display: inline-block;
    width: max-content;
    background-color: white;
}

.ctrl-btn:hover{
    color: white;
}

.ctrl-btn.clear:hover{
    background-color: #6e7e57;
}

.ctrl-btn.keywords:hover{
    background-color: #aa203b;
}
.ctrl-btn.convert:hover{
    background-color: rgb(70, 70, 70);
}


.ctrl-btn:focus {
    outline: none;
    box-shadow: none;
}

#newTextBox{
    width: 60vw;
    margin: 0 auto;
    margin-top: 7vh;
}


.decoratedText{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    padding: 10px;
    border-radius: 4px;
    background-color: #53613f;
    margin-bottom: 5vh;
    cursor: pointer;
}

.decoratedText:hover{
    background-color: #6e7e57;
}

img{
    width: 30px;
}
/* #submit-text{
    margin-top: 0.5em;
    width: 10em;
}

#wordsBox{
    background-color:rgb(255, 241, 227);
    border-radius: 0.2em;
    padding-top: 5px;
} */

